*,*::after,*::before{
    box-sizing: border-box;
}
.add{
    background-color: aqua;
   
    position: fixed;
   float: right;
   left: 86%;
   top:0%;
  transform: translate(-50%,50%) scale(1);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index:10;
    width: 300px;
    max-width: 80%;
}



.add-head{
    padding: 10px,15px;
    display: flex;
    background-color: rgb(151, 147, 147);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.add-head .title{
    font-size: 20px;
    font-weight: bold;
    font-family: "Khmer OS";
    color:white;
   text-align: center;
}
.add-head .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    font-weight: bold;
}
.add-body{
    padding: 5px;
}
#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;

}