.body{
    border: 1px solid black;
    border-radius: 10px;
   box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   font-family:"Khmer OS";
   font-size: 17px;
   padding: 10px;
}
.title{
    text-align: center;
    font-family: "Khmer OS Muol Light";
    border-bottom: 2px solid black;
}
.table{
    padding: 0;
    margin: 0;
}
.mutiple{
    width: 200px;
}
.selectbox{
    position: relative;
}
.selectbox select{
    width: 100%;
    font-weight: bold;
}
.overselect{
    position: absolute;
    left: 0; right: 0;top:0;bottom: 0;
}
#checkboxes{
    display: none;
    border: 1px #dadada solid;
}
#checkboxes label{
    display: block;
}
#checkboxes label:hover{
    background-color: chartreuse;
}