.form{
   
    padding: 20px;
   font-size: 40px;
    height: 300px;
}
.btn{
    width: 200px;
    height: 40px;
    font-size: 24px;
    font-family: 'Khmer OS';
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}