
.container{
    position: absolute;
   
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
}
.container h1{
    color: aliceblue;
    font-size: 36px;
    margin-bottom: 40px;
}
.button{
    border-radius: 2px;
    
    font-weight: bold;
  
   transition: 0.5s;
}
.button:hover{
    
   
    cursor: pointer;
}
.popup{
  
    width: 80%;
    height: 500px;
    position: absolute;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
  background: rgba(78, 78, 77, 0.73);
    
}
.popup-content{
    height: 500px;
    width:100%;
    background: #fff;
    
    border-radius: 5px;
    position: relative;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
   
}

.close{
    position: absolute;
    top:-15px;
    right: -15px;
    background: white;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);

}
.close:hover{
    cursor: pointer;
}