.div-top{
    background-color: cornflowerblue;
    width: 100%;
    height: 30px;
    margin-left: 5px;
}
.div-top img{
    width: 20px;
    height: 20px;
   margin-left: 10px;
}
.div-top img:hover{
    cursor: pointer;
}
.menu{
    width: 150px;
    height: 500px;
   box-shadow: black 2px 5px 5px;
    margin-left: 50px;
    float: left;
    position: relative;
    
}
.icon{
    width: 50px;
    height: 500px;
    
    margin-left: 5px;
    position: absolute;
}
.icon img{
    width: 20px;
    height: 20px;
   
   
}
.icon button{
    margin-top:px;
    padding: 5px;
}
.btn{
   
    align-items: left;
}
.fas{
    width: 20px;
    height: 20px;
}
