
.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
}
.container h1{
    color: aliceblue;
    font-size: 36px;
    margin-bottom: 40px;
}
.button{
    padding: 10px;
    background-color:white;
    border-radius: 5px;
    color:teal;
    font-weight: bold;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
   transition: 0.5s;
}
.button:hover{
    background-color: rgb(25, 247, 36);
    color: mediumvioletred;
    cursor: pointer;
}
.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
   
}
input{
    margin: 20px auto;
    display: block;
}
.close{
    position: absolute;
    top:-15px;
    right: -15px;
    background: white;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);

}