.main{
    width: 100%;
    height:100%;
   
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    height: 300px;
    background-image:url('../home/back.jpg');
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
}
.menubar{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0 ,0.2);
    text-align: center;
    padding-left: 10px;
    font-family: "Khmer OS";
  
    color: white;
    
}
.menubar .navbar{
    float: right;
    text-align: center;
    
}
.navbar ul{
    display: flex;
    list-style: none;
   
}
li a{
    padding-left: 100px;
    color: white;
}
.text{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0 ,0.1);
    font-family: "Khmer OS Muol Pali";
    color: yellow;
    margin-top: 15%;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 8px #000000;
}

p{
    font-family: "Khmer OS Muol Light";
    font-size: 20px;
    padding: 10px;
}
.col-sm-4{
    text-align: center;
    font-family: "Khmer OS Muol Light";
    font-size: 25px;
    padding: 10px;
    
    

}
.card{
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(4, 4, 102);
}

/* popup form login */
.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
   display:none;
    justify-content: center;
    align-items: center;

}
.popup-content{
    width: 500px;
    height: 250px;
    background: #ffff;
    padding: 20px;
    border-radius: 5px;
    position: relative;



}
.close{
    width: 25px;
    height: 25px;
    position: absolute;
    top:-15px;
    right: -15px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;

}